/*
Project: Curriculo pessoal 
Author: Leonidio Alcantara;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.alterar-fonte {
	font-style: normal;
	font-family: 'Roboto', sans-serif;	
}

.alterar-fonte h1{
	font-size: 45px;
}

.alterar-fonte h2{
	font-size: 15px;
}

.print{
	margin: 10px;
}

.perfil{
	display: inline-block;
}



header {
	padding-top: 10px;
}